{
  "api": {
    "baseurl": "/api"
  },
  "db": {
    "host": "localhost",
    "user": "wichteln",
    "password": "123456",
    "database": "wichteln"
  },
  "jwt": {
    "secret": "123456123456"
  },
  "mail": {
    "host": "mail.example.org",
    "port": "587",
    "tls": false,
    "user": "wichteln@example.org",
    "password": "123456",
    "username": "Der Santa"
  },
  "wichteln": {
    "enddate": "1733785200",
    "__comment": "Tuesday, 10. December 2024 00:00:00 GMT+01:00"
  }
}
